<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.tools">

    <application>
        <activity
            android:name=".ToolsActivity"
            android:label="Tools">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>