<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.application.id">

    <application
        android:allowBackup="false"
        android:label="ApplicationId">
        <activity
            android:name=".MainActivity"
            android:label="ApplicationId:${applicationId}">
            <!--可以在任何清单属性中使用 ${applicationId} 占位符-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>